* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #B48976;
    width: 100%;
    height: 100vh;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}
